body {
font-family: 'Raleway', sans-serif;
}
.fondo {
background: #24aaa2;
}
.grande {
font-family: 'Raleway', sans-serif;
font-weight: 700;
}
.chica {
font-family: 'Raleway', sans-serif;
font-weight: 400;
}
.hero-section {
background-image: url('../img/bg_hero3.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: left;
height: 720px;
}
.textofoto {
position: absolute;
bottom: 0;
left: 0;
right: 0;
}
.linea {
width: 30%;
margin: 0 auto;
}
.logo {
width: 30%;
}
.carousel-indicators {
bottom: -16px!important;
}
.carousel-indicators li {
width: 15px;
height: 15px;
border-radius: 50%;
margin-bottom: -50px;
background-color: #ffffff;
}
